body {
    background-color: #F0F4F8;
    color: #333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 200px;
    margin: 0;
    box-sizing: border-box;
    background: url('../../static/img/index.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h1 {
    color: #2F4F4F;
    margin-bottom: 20px;
}

input,
button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(36, 83, 248);
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(39, 58, 177);
}

#results {
    background-color: rgba(101, 234, 184, 0.42);
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#results th,
#results td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#results th {
    background-color: rgba(68, 255, 232, 0.66);
    color: white;
}