<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>朋友圈发表页面</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/essay.css' %}">
</head>
<body>
<button class="button-custom" onclick="rtn_index()">返回主页</button>
<form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="button-custom">登出</button>
</form>

    <h1>发表朋友圈</h1>
        <form id="demo" autocomplete="off" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <label for="text">朋友圈内容</label><br>
            <textarea id="text" name="text" rows="4" cols="50"></textarea>
        </div>
        <div>
            <label for="imageUpload">添加图片</label><br>
            <input type="file" id="imageUpload" name="imageUpload" accept="image/*" onchange="previewImage(event)">
            <br>
            <img id="imagePreview" src="#" alt="预览图片" style="max-width: 200px; display: none;">
            <button id="removeImageButton" style="display: none;" onclick="removeImage(event)">删除图片</button>
        </div>
        <div>
            <input type="submit" value="发表">
        </div>
    </form>

    <script>
        function previewImage(event) {
            var image = document.getElementById('imagePreview');
            image.style.display = 'block';
            image.src = URL.createObjectURL(event.target.files[0]);
            document.getElementById('removeImageButton').style.display = 'block';
        }

        function removeImage(event) {
            event.preventDefault(); // 阻止表单的默认提交行为
            var image = document.getElementById('imagePreview');
            image.style.display = 'none';
            image.src = "#";
            document.getElementById('imageUpload').value = "";
            document.getElementById('removeImageButton').style.display = 'none';
        }
        function rtn_index() {
            location.href='/homepage'
        }
    </script>
</body>
</html>
