<!DOCTYPE html>
{% load static %}
{% load tools %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}的个人主页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <div class="buttons">
            <button onclick="rtn_index()">返回导航目录</button>
            <button onclick="change_msg()">修改个人信息</button>
            <button onclick="change_pwd()">修改密码</button>
            <button onclick="remove_user()">删除账户</button>
            <button onclick="add_essay()">发表朋友圈</button>
        </div>
        <header>
                <h1>{{ user.name }}的个人主页</h1>
        </header>
        <div class="main-content">
        <div class="profile">
            <p>
                <img src="{% static 'img/' %}{{ user.avatar }}"  alt="{{ user.name }}" class="avatar">
                <a class="signature">{{ user.name }}</a>
            </p>
            </div>
            <p class="avatar_signature">{{ user.signature }}</p>
            <div class="posts">
                <h2>我的动态:</h2>
                <ul>
                    {% for post in posts %}
                    <li class="post" id="essay-post-{{ post.essayid }}">
                        <p>
                            <img width="25" height="25" src="{% static 'img/' %}{{ user.avatar }}" style="border-radius: 50%;" alt="{{ user.name }}">
                            <a class="avatar_name">{{ user.name }}</a>
                        </p> 
                        <p class="main_text">{{ post.text }}</p>
                        {% if post.pictureway %}
                            <img  style="max-width: 300px;" src="{% static 'img/' %}{{ post.pictureway }}" alt="{{ post.text }}">
                        {% endif %}
                        <p class="time">发布时间：{{ post.saytime }}</p>
                        <div>
                            <div class="like_list">
                                <img width="25" height="25" src="{% static 'img/spt.jpg' %}" alt="spt" class="like_icon">
                                {% for like in likes %}
                                    {% if like.essayid == post.essayid %}
                                        <img width="25" height="25" src="{% static 'img/' %}{{ like.omnerid.avatar }}" alt="{{ like.sptid }}" class="like_avatar">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <ul>
                            {% for comment in comments %}
                                {% if post.essayid == comment.essayid %}
                                    <div class="comments">
                                        {% for userx in users %}
                                            {% if comment.userid_id == userx.id %}
                                                <p class="comment_name">{{ userx.name }}:</p>
                                            {% endif %}
                                        {% endfor %}
                                        <p class="comment">{{ comment.text }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <form id="essay-delete-{{ post.essayid }}" method="post">
                            {% csrf_token %}
                            <button type="button" class="button" onclick="confirmDelete({{ post.essayid }})">删除</button>
                        </form>
                        <div id="dialog-confirm" title="确认删除？" style="display:none;">
                            <p>确定要删除动态吗？</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

<script>
    function confirmDelete(postId) {
        $( "#dialog-confirm" ).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "确定": function() {
                    $( this ).dialog( "close" );
                    DelEssay(postId);
                },
                "取消": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    }
    function change_pwd(){
        location.href='/change_pwd';
    }
    function remove_user() {
        location.href='/removeuser';
    }
    function change_msg() {
        location.href='/change_message';
    }
    function add_essay() {
        location.href='/add_essay'
    }
    function rtn_index() {
        location.href='/index'
    }
function DelEssay(postId) {
    var form = $('#essay-delete-' + postId);
    var postData = form.serialize();
    postData += '&post_id=' + encodeURIComponent(postId);

    console.log("Post Data: ", postData);  // 调试信息

    $.ajax({
        type: 'POST',
        url: '{% url "del_essay" %}',
        data: postData,
        success: function(data) {
            if (data.statu === 'success') {
                // 动态删除HTML页面中相应post的部分
                $('#essay-post-' + postId).remove();
            } else {
                console.log('Failed to delete the post');
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            console.log('发生错误：' + errorThrown);
        }
    });
}
</script>
<style>
.ui-dialog-titlebar {
    cursor: move;
}
</style>
</body>
</html>