<!DOCTYPE html>
{% load static %}
{% load tools %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}的个人主页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container">
        <div class="buttons">
            <button onclick="rtn_index()">返回导航目录</button>
            <button onclick="change_msg()">修改个人信息</button>
            <button onclick="change_pwd()">修改密码</button>
            <button onclick="remove_user()">删除账户</button>
            <button onclick="add_essay()">发表朋友圈</button>
        </div>
        <header>
                <h1>{{ user.name }}的个人主页</h1>
        </header>
        <div class="main-content">
        <div class="profile">
            <p>
                <img src="{% static 'img/' %}{{ user.avatar }}"  alt="{{ user.name }}" class="avatar">
                <a class="signature">{{ user.name }}</a>
            </p>
            </div>
            <p class="avatar_signature">{{ user.signature }}</p>
            <div class="posts">
                <h2>发布过的帖子：</h2>
                <ul>
                    {% for post in posts %}
                    <li class="post">
                    <p>
                        <img width="25" height="25" src="{% static 'img/' %}{{ user.avatar }}" style="border-radius: 50%;" alt="{{ user.name }}">
                        <a class="avatar_name">{{ user.name }}</a>
                    </p>
                    <p class="main_text">{{ post.text }}</p>
                    {% if post.pictureway %}
                        <img  style="max-width: 300px;" src="{% static 'img/' %}{{ post.pictureway }}" alt="{{ post.text }}">
                    {% endif %}
                    <p class="time">发布时间：{{ post.saytime }}</p>
                    
                    <ul>
                        {% for comment in comments %}
                            {% if post.essayid == comment.essayid %}
                                <div class="comments">
                                    {% for userx in users %}
                                        {% if comment.userid_id == userx.id %}
                                            <p class="comment_name">{{ userx.name }}:</p>
                                        {% endif %}
                                    {% endfor %}
                                    <p class="comment">{{ comment.text }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul><!--这是评论的内容-->
                    </li>
                    {% endfor %}
                </ul><!--这是遍历每条朋友圈-->
            </div>
        </div>
    </div>
<script>
    function change_pwd(){
        location.href='/change_pwd';
    }
    function remove_user() {
        location.href='/removeuser';
    }
    function change_msg() {
        location.href='/change_message';
    }
    function add_essay() {
        location.href='/add_essay'
    }
    function rtn_index() {
        location.href='/index'
    }
</script>
</body>
</html>