{% load static %}
<!DOCTYPE>
<html lang="ch">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>朋友圈主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--兼容IE-->
    <script src="{% static 'js/roll.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/roll.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index_daoh.css' %}">
    <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <style>
        
    </style>
</head>
<body>

<div class="menuHolder">
    <div class="menuWindow">
        <ul class="p1">
            <li class="s1"><a href="javascript:">导航菜单</a>
                <ul id="p2" class="p2">
                </ul>
            </li>
        </ul>
    </div>
    <div class="vertical-text">
        <a href="#">我们都在</a>
        <a href="#">这世界的</a>
        <a href="#">某个角落</a>
    </div>
</div>
<div class="news-scroll">
  <ul class="roll">
      <li class="roll_1"><a href=""><p>不妨静下心来，好好看看这个世界吧！</p></a></li>
      <li class="roll_2"><a href=""><p>生活中的小确幸，就是和你这样的朋友一起分享快乐和悲伤。</p></a></li>
      <li class="roll_3"><a href=""><p>你是不是也在好奇，他/她此刻的心情呢？</p></a></li>
      <li class="roll_4"><a href=""><p>即使我们身处天涯海角，也不会忘记彼此的友情。</p></a></li>
      <li class="roll_5"><a href=""><p>人生就像一场旅行，不在于目的地，而在于沿途的风景和经历。</p></a></li>
  </ul>
        {% if messages %}
        <ul class="messages">
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
        </ul>
    {% endif %}
</div>

<script>
    var menu = [
        {
            title: '个人信息',
            subtitle: {
                '个人中心': '/homepage', 
                '添加用户': '/adduser',
                '删除用户': '/removeuser',
                '修改密码': '/change_pwd'},
        },
        {
            title: '朋友圈',
            subtitle: {
                '我的朋友圈': '/homepage', 
                '看看大家': '/essay_center',
                '发表朋友圈': '/add_essay',},
        },
        {
            title: '在这查询',
            subtitle: {
                '找朋友':'/search_user',
                '查询朋友圈':'/search_essay',
                '查询评论':'/search_comments',
                '不查询':'/homepage',
            }
        },
        {
            title: '联系我们',
            subtitle: {
                '没想好呢':'/adduser',
                '留个言吧':'/adduser',
                '混两个字':'/adduser',
                '这也混吧':'/adduser',
            }
        },
    ]
    renderMenu(menu)
    function renderMenu(menu) {
        var lis = ''
        const deg = 90
        var p2 = document.getElementById('p2')
        for (var i = 0; i < menu.length; i++) {
            var sublis = ''
            var rotateDeg = deg / menu.length
            for (var j = 0; j < Object.keys(menu[i].subtitle).length; j++) {
                var subrotateDeg = deg / Object.keys(menu[i].subtitle).length
                var lineHeight = 600 / Object.keys(menu[i].subtitle).length + 40
                sublis += '<li>' +
                    '<a style="transform: rotate(' + (subrotateDeg * j) + 'deg);line-height:' + lineHeight + 'px" href="' + menu[i].subtitle[Object.keys(menu[i].subtitle)[j]] + '">' +
                    '<span>' + Object.keys(menu[i].subtitle)[j] + '</span>' +
                    '</a>' +
                    '</li>'
            }
            var ul = ' <ul class="p3 a' + Object.keys(menu[i].subtitle).length + '">' + sublis + '</ul>'
            lis += '<li class="s2">' +
                '<a style="transform: rotate(' + (rotateDeg * i) + 'deg);" href="' + menu[i].subtitle + '"><span>' + menu[i].title + '</span></a>' +
                '' + ul + '' +
                '</li>';
        }
        p2.innerHTML = lis
    }
    var $ul = $('.roll');
    var timeID;
    $(function () {
        /*消息滚动*/
        var $ul = $('.roll');
        var timeID;
        function roll() {
            clearInterval(timeID);
            timeID = setInterval(function () {
                clearInterval(timeID);
                $ul.animate({ top: "0px" }, 1000, function () {
                    $ul.find("li:first").removeClass().addClass('roll_hide').appendTo($ul);

                    for(var i=0;i<5;i++){
                        $ul.find("li").eq(i).removeClass().addClass('roll_'+ (i+1) +'')
                    }
                    roll()
                })
            }, 1000);
        }
        roll()
    })
</script>
</body>
</html>